@import "styles/utils";

.rangeInputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  background: #ECF0FB;
  border-radius: 5px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress-width);
    height: 100%;
    background: #A4F3EB;
    border-radius: 5px;
    content: "";
  }

  .rangeInput {
    flex: 1;
    position: relative;
    background: transparent;
    height: 8px;
    -webkit-appearance: none !important;

    &.drag {
      @mixin drag {
        background-color: #24AEA1 !important;
        cursor: grabbing;
      }

      &::-webkit-slider-thumb  {
        @include drag;
      }

      &::-moz-range-thumb {
        @include drag;
      }
    }

    @mixin slider-thumb {
      position: relative;
      -webkit-appearance: none !important;
      z-index: 1;
      width: 40px;
      height: 40px;
      box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
      border: none;
      border-radius: 50%;
      background-color: #10D8C4;
      background-image: url("/icons/icon-slider.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      @include media(">desktop") {
        transition: background-color 0.3s;

        &:hover {
          background-color: #7AEADF;
        }
      }
    }

    &::-webkit-slider-thumb {
      @include slider-thumb;
    }

    &::-moz-range-thumb {
      @include slider-thumb;
    }
  }
}
