.rangeInputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  background: #ECF0FB;
  border-radius: 5px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress-width);
    height: 100%;
    background: #A4F3EB;
    border-radius: 5px;
    content: "";
  }

  .rangeInput {
    flex: 1;
    position: relative;
    background: transparent;
    height: 8px;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      width: 40px;
      height: 40px;
      box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
      border: none;
      border-radius: 50%;
      background: #10D8C4 url("/icons/icon-slider.svg") no-repeat;
      background-position: center;
    }
  }
}
